body {
    background-color: black;
  }

  img {
    border: 5px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
  }

  h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
  }

  h1, p {
    color: white;
    text-align: center;
  }